.wrapper

    h2.documents__title(data-animation="slideInUp") Документи для оформлення в школу



    .documents__text--one(data-animation="flipInX")
        h3.documents__sub-title Оформлення в 1 клас

        p.documents__p заява від батьків
        p.documents__p копія свідоцтва про народження
        p.documents__p копія паспорту і коду одного з батьків
        p.documents__p копії документів про пільги
        p.documents__p медична карточка
        p.documents__p дві кольорових фотографії 3*4 см



    .documents__text--two(data-animation="flipInX")

        h3.documents__sub-title Переведення з іншої школи

        p.documents__p заява від батьків
        p.documents__p особиста справа учня
        p.documents__p копія свідоцтва про народження
        p.documents__p медична карта
        p.documents__p дві кольорових фотографії 3*4 см
        