include ../../mixins/_mixin-modal.pug
.wrapper  
    .promo__inner

        h1.promo__title Dream School


        .promo__info

            p.promo__tel
                a(href="tel:+380937864410") +38 (093) 786 44 10 

            p.promo__span (очна форма)


            p.promo__tel
                a(href="tel:+380680667710") +38 (068) 774 33 66

            p.promo__tel
                a(href="tel:+380933013002") +38 (093) 960 97 12 

            p.promo__span (дистанційна форма)

            p.promo__adressa  Одеса - Старопортофранківська, 101 <br>
                    |Чубаївська, 27



        .promo__text
            p Школа альтернативної освіти
            p І-ІІІ ступенів "Школа Мрії"
            p з очною та дистанційною формами навчання

        
    +modal-btn('1','Запис на зустріч')
        
    +modal('1')


    