include ../../mixins/_mixin-glider.pug

.wrapper

    h3.slider-video__title(data-animation="slideInUp") Приклади наших відео на <a class="slider-video__link" href="https://www.youtube.com/c/DreamSchoolua/videos" target="_blank"> Youtube каналі</a> для дистанційної форми навчання

    div(data-animation="zoomIn" data-animation-delay="300ms")
    
        +glider("v1","v2","v3","v4","v5","v6","v7","v8","v9","v10")