include ../../mixins/_mixin-card.pug
.wrapper

    .studios-2__cards


        .studios-2__card--one(data-animation="flipInY")
            
            +card-big('carpentry', 'Столярна майстерня', 'Столярна майстерня - це місце, де діти можуть попрацювати руками, отримати задоволення від дотиків до природного матеріалу.', 'Вони вчаться кресленню, знайомляться з основами проєктування і дизайну, вивчають конструювання і майструють невеличкі корисні вироби.')
            
            .studios-2__modal
                +modal-btn('4','Запис на зустріч') 

        +modal('4')


        .studios-2__card--two(data-animation="flipInY")
             
            +card-big('theatrical','Театральний гурток-студія', 'Діти від природи мають різні здібності.', 'Це важливий ресурс для розвитку. Але протягом життя таланти не завжди реалізуються в повному обсязі.', 'Ми допоможемо дитині максимально використовувати свій потенціал.')
            
            .studios-2__modal
                +modal-btn('5','Запис на зустріч') 

        +modal('5')

        
        .studios-2__card--three(data-animation="flipInY")  

            +card-big('camp', 'Літні табори', 'Спекотне літо - це час для веселощів і відпочинку !', 'І ми знаємо, як зробити так, щоб, окрім розваг, дитина отримала багато корисних навичок та знань. Відправляйте дитину в наш табір і ми подбаємо, щоб цей час дарма не зник.')    
            
            .studios-2__modal    
                +modal-btn('6','Запис на зустріч') 

        +modal('6')





