.background
    .background__inner
        video.background__video(src="video/background_vid.mp4" autoplay muted loop)


.header
    
    include _header.pug

.promo
    
    include _promo.pug 
                            
    