.wrapper

    h2.documents__title(data-animation="slideInUp") Документи для оформлення в школу



    .documents__text--one(data-animation="flipInX")

        h3.documents__sub-title Оформлення в 1 клас

        ul.documents__p-wrap

            li.documents__p заява від батьків
            li.documents__p копія свідоцтва про народження
            li.documents__p копія паспорту і коду одного з батьків
            li.documents__p копії документів про пільги
            li.documents__p медична карточка
            li.documents__p дві кольорових фотографії 3*4 см



    .documents__text--two(data-animation="flipInX")

        h3.documents__sub-title Переведення з іншої школи

        ul.documents__p-wrap
        
            li.documents__p заява від батьків
            li.documents__p особиста справа учня
            li.documents__p копія свідоцтва про народження
            li.documents__p медична карта
            li.documents__p дві кольорових фотографії 3*4 см
        