.wrapper

    h2.partners__title(data-animation="slideInUp") Наші партнери

    .partners__group

        svg.partners__img(data-animation="flipInY")
            use(xlink:href=`svg/partners.svg#part_1`)


        svg.partners__img(data-animation="flipInY")
            use(xlink:href=`svg/partners.svg#part_6`)
        
                
        svg.partners__img(data-animation="flipInY")
            use(xlink:href=`svg/partners.svg#part_3`)

      
        svg.partners__img(data-animation="flipInY")
            use(xlink:href=`svg/partners.svg#part_4`)

        svg.partners__img(data-animation="flipInY")
            use(xlink:href=`svg/partners.svg#part_5`)

        svg.partners__img(data-animation="flipInY")
            use(xlink:href=`svg/partners.svg#part_2`)
