
include ../../mixins/_mixin-card.pug
include ../../mixins/_mixin-modal.pug

.wrapper

    h2.payment__title(data-animation="slideInUp") ФОРМИ  ДИСТАНЦІЙНОГО  НАВЧАННЯ


    .payment__cards

        .payment__card--one(data-animation="flipInY" data-animation-delay="300ms")

            +card-pay('pic1','pic4','Дистанційне навчання "Стандарт" ','( 750 грн/міс)','власний онлайн кабінет','матеріали та розробки уроків','тести та інтерактивні додатки','перевірка тематичних та контрольних робіт','зворотній зв’язок з вчителем','консультація з предмету раз на тиждень','внутрішня соціальна мережа')
            
            .payment__group-btn
                +modal-btn('2','Докладніше')

                +modal-btn('4','Відео огляд')
                
        +modal('2') 

        +modal-video('4') 
        
        .payment__card--two(data-animation="flipInY" data-animation-delay="600ms")

            +card-pay('pic3','pic2','Дистанційне навчання "Стандарт +"','(2500 грн/міс)', 'можливість віртуальної присутності на уроках школи','додаткові заняття з предмету за розкладом','власний онлайн кабінет','матеріали та розробки уроків','тести та інтерактивні додатки','перевірка тематичних та контрольних робіт','зворотній зв’язок з вчителем','консультація з предмету раз на тиждень','внутрішня соціальна мережа')
            
            .payment__group-btn        

                +modal-btn('3','Докладніше') 

                +modal-btn('5','Відео огляд')

            

        +modal('3')

        +modal-video('5')        



       
