include ../../mixins/_mixin-modal.pug
.wrapper

    h2.promo__title Dream School online - освіта без стресів

    .promo__text

        p.promo__p комфортне освітнє середовище для навчання

        p.promo__p свобода у виборі часу та місця навчання

        p.promo__p доступ до навчальних матеріалів

        p.promo__p спілкування з вчителями та однолітками

       

    include ../../includes/_player.pug

    +modal-btn('1','Запис на зустріч')
        
+modal('1')   


        
          