include ../../mixins/_mixin-glider.pug

.wrapper

    h2.slider-video__title(data-animation="slideInUp") Щоб дистанційне навчання було захоплюючим та цікавим - <br> ми розробляємо авторські відеоматеріали
    
    div(data-animation="zoomIn" data-animation-delay="300ms") 

        +glider("v1","v2","v3","v4","v5","v6","v7","v8","v9","v10")

    
    a.slider-video__btn(data-animation="flipInX" href="https://www.facebook.com/dreamschool.ua/" target="_blank" ) МИ НА ФЕЙСБУЦІ