include ../mixins/_mixin-blog-sideBar.pug

include ../includes/_search.pug

aside.announcement

    h3.announcement__title Оголошення дня

    p.announcement__txt З 25-го по 29-те жовтня проходитиме англійський табір "Lion King". Запис за телефоном: 093-786-44-10

  
//- include ../includes/_subscribe.pug

   
aside.popular-posts

    h3.popular-posts__title Послідні публікації новин

    .popular-posts__flex

        +news-sideBar('1','post_1-1','Олімпійські ігри: перемоги, якими пишається незалежна Україна','Пропонуємо згадати, як наші співвітчизники прославляли країну на Олімпійських іграх за 25 років незалежної України.')
        
        +news-sideBar('2','post_2-1','Як будували піраміди в Єгипті. Цікаві факти','Найвідоміші піраміди знаходяться в Каїрі (є ще в Саккарі, Дахурі, Медумі), вони вважаються єдиними вцілілими серед давніх чудес світу. Тут була стародавня єгипетська столиця Мемфіс, і могутні царі Єгипту — фараони збудували величезні піраміди, які протягом двох тисячоліть були найвищими спорудами світу. Єгипетська цивілізація не знала заліза, з двигунів була тільки тяглова сила людей і тварин. Найбільшою загадкою цивілізації було те, як люди у давні часи змогли збудувати величезні споруди з блоків масою декілька тон.')
        
        +news-sideBar('3','post_3-1','Bодень: від таємничої субстанції — до палива майбутнього','Водень, або гідроген — найлегший, найпростіший і найпоширеніший хімічний елемент у Всесвіті. А це — вже достатня причина, щоб дізнатися про нього більше, чи не так? Обіцяю — буде цікав')
        
        +news-sideBar('1','post_1-1','Олімпійські ігри: перемоги, якими пишається незалежна Україна','Пропонуємо згадати, як наші співвітчизники прославляли країну на Олімпійських іграх за 25 років незалежної України.')
        
        +news-sideBar('2','post_2-1','Як будували піраміди в Єгипті. Цікаві факти','Найвідоміші піраміди знаходяться в Каїрі (є ще в Саккарі, Дахурі, Медумі), вони вважаються єдиними вцілілими серед давніх чудес світу. Тут була стародавня єгипетська столиця Мемфіс, і могутні царі Єгипту — фараони збудували величезні піраміди, які протягом двох тисячоліть були найвищими спорудами світу. Єгипетська цивілізація не знала заліза, з двигунів була тільки тяглова сила людей і тварин. Найбільшою загадкою цивілізації було те, як люди у давні часи змогли збудувати величезні споруди з блоків масою декілька тон.')
        
        +news-sideBar('3','post_3-1','Bодень: від таємничої субстанції — до палива майбутнього','Водень, або гідроген — найлегший, найпростіший і найпоширеніший хімічний елемент у Всесвіті. А це — вже достатня причина, щоб дізнатися про нього більше, чи не так? Обіцяю — буде цікав')
        

            