extends ../common/_layout.pug

include ../mixins/_mixin-preview.pug

block title 
    title Dream School | post

block links
    
   
    link(rel="stylesheet", href="../css/new.min.css")

block content

        header.header 
            include ../includes/_progress-line.pug
            
            include _nav-bar.pug

        main.main

                        
            article.publication
            

                h1.publication__title Навчальний портал школи "Dream School"
                
                a.publication__btn(href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ НОВИН  

                include ../mixins/_mixin-post(plagin blogPost).pug

                +post('Олімпійські ігри: перемоги, якими пишається незалежна Україна', 'post_1-1', 'Пропонуємо згадати, як наші співвітчизники прославляли країну на Олімпійських іграх за 25 років незалежної України.',
                'https://youtu.be/ATBxtGJn5X0','1994','Національна збірна України вперше заявила про себе на світовій арені в 1994 році на зимових Олімпійських іграх в Ліллегаммері. Саме тут тендітна фігуристка Оксана Баюл завоювала першу в історії незалежної України золоту медаль.',
                'post_1-2','1996','Олімпійські ігри в Атланті в 1996 році стали надзвичайно плідними на перемоги для української збірної. Спортсмени завоювали 9 золотих моделей. Лілія Подкопаєва отримала дві золоті медалі у спортивній гімнастиці, Рустам Шаріпов став найкращим у вправах на брусах. Катерина Серебрянська отримала першість в індивідуальному багатоборстві, а Євген Браславець та Ігор Матвієнко стали чемпіонами вітрильного спроту.',
                'post_1-3','На Олімпійських іграх в Атланті отримав першість Володимир Кличко та важкоатлет Тимур Таймазов. Чемпіоном греко-римської боротьби став в’ячеслав Олійник. Інесі Кравець не було рівних у потрійному стрибку, за що спортсменку нагородили золотом.',
                'post_1-4','2000','Зіркою Олімпійських ігор у Сіднеї стала Яна Клочкова, яка завоювала дві золоті медалі. Чемпіоном стрілецького спорту, а саме стендової стрільби, став Микола Мільчев. У 2000 році українська збірна привезла додому три золоті медалі',
                '2004','На Олімпійських іграх в Афінах українські спортсмени реабілітувалися після Олімпіади 2000 року. Яна Клочкова повторила свій успіх, виборовши два золота у плаванні, найкращими у вільній боротьбі стали Ельбрус Тедеєв та Ірина Мерлені. У вправах на брусах та стрибках на батуті першість отримали Валерій Гончаров та Юрій Нікітін. Найсильнішою важкоатлеткою світу визнали Наталію Скакун, а Олена Костевич вразила влучністю і взяла золоту медаль у кульовій стрільбі.',
                'post_1-5','2008','Олімпійські ігри у Пекіні принесли золоту медаль збірній України з фехтування у складі Ольги Жовнір, Галини Пундик, Ольги Харлан та Олени Хомрової. Артур Айвазян, Олександр Петрів та Віктор Рубан проявили надзвичайну влучність - три медалі в кульовій стрільбі та стрільбі з лука. Чемпіонкою у важкій атлетиці стала Наталія Добринська, а у веслуванні на байдарках уродженка Херсонської області Інна Осипенко-Радомська. Переше золото на Олімпіаді у Пекіні у напівлегкій вазі отримав боксер Василь Ломаченко.',
                'post_1-6','2012','Олімпійські ігри у Лондоні показали Україну сильною боксерською державою. Дві Олімпіади поспіль чемпіоном став Василь Ломаченко, золото виборов Олександр Усик.',
                'post_1-7','2014','Українська жіноча збірна з біатлону тримала першість на зимових Олімпійських іграх в Сочі. Олена Підгрушна, Віта Семеренко, Валентина Семеренко та Юлія Джима здобули єдину для України золоту медаль на Олімпіаді в Сочі.',
                'post_1-8','2016','Олімпійські ігри в Ріо-де-Жанейро (Бразилія) відбудуться в 2016 року і пройшли з 5 по 21 серпня. Це були перші Олімпійські ігри, що проходили в Південній Америці Це була одна з найкращих олімпіад для української олімпійської збірної.',
                'post_1-9','Золоті медалі здобули Юрій Чебан, Олег Верняєв та ряд інших спортсменів.','2018','А ось тут пропонуємо Вам (учням дистанційного навчання) самим дослідити участь України на зимових олімпійських іграх 2018 та розповісти у формі реферату про найбільш медальні види спорту для України.',
                'https://youtu.be/tyLVSZnpZw0','Також пропонуємо Вашій увазі переглянути наступні відео:',
                'https://1plus1.ua/25-nezaleznih-rokiv/novyny/olimpijski-igri-peremogi-sportsmeniv-nezaleznoi-ukraini')  


                a.publication__btn(href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ НОВИН 
               

            article.sidebar(data-da=".navbar__mobile, 1200, last")

                include _sidebar.pug
                    


        footer.footer 

 
block script

    

    script( src="../js/yt-lazyload.min.js")

    script( src="../js/post.min.js")

    script( src="../js/navBar.min.js")  

    script( src="../js/scroller.min.js")
    
    script(src="../js/sortTags.min.js")

    script( src="../js/fontawesome.min.js")

    script( src="../js/search.min.js")

    script( src="../js/dynamicAdapt.min.js")

    script(defer src="../js/modal.min.js")
    
  

    