@import 'includes/!CONFIG.scss';

@import 'includes/variables.scss';

@import 'mixins/mixin-font-size.scss';

@import 'mixins/mixin-font.scss';

@import 'includes/reset.scss';

@import 'includes/fonts';

html {
    width: 100%;
    @include font-size(16, 14);
    
}


.body {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    background-color:rgb(240, 240, 240);
}



@import 'includes/scroller.scss';

@import 'mixins-for-pugs/pug-modal.scss';

@import 'mixins-for-pugs/pug-form.scss';

@import 'search/style.scss';

