include ../../mixins/_mixin-preview.pug

h1.publication__title Навчальний портал школи "Dream School"

.add-text

    h3.add-text__title <span>Показано дописи з міткою: </span>" Показати усі пости "

a.publication__btn(href='blog.html') <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ

section.post-flex

    +blog-preview('post_3-1','Водень: від таємничої субстанції — до палива майбутнього', '3')

    +blog-preview('post_4-1','Збройні сили України. Порівняння з іншими державами','4')

    +blog-preview('post_5-1','Як рахувати десятками','5')

    +blog-preview('post_6-1','Складові комп"ютера та їх призначення', '6')

    +blog-preview('post_7-1','10 дивовижних явищ природи', '7')

    +blog-preview('post_2-1','Як будували піраміди в Єгипті. Цікаві факти','2')

    
a.publication__btn(href='blog.html') <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ