extends common/_layout.pug

block title
    title Dream School | online

block links
    meta(property="og:image" content="images/online-top.webp")
    link(rel="stylesheet", href="css/online.min.css")

block content
        header.header 
            include pages/_online/_header.pug

        section.promo 
            include pages/_online/_promo.pug


        section.slider-video  
            include pages/_online/_slider-video.pug


        section.payment
            include pages/_online/_payment.pug

        section.documents
            include pages/_online/_documents.pug

        section.appointment     
            include pages/_online/_appointment.pug

        //- section.partners
        //-     include pages/_index/_partners.pug


 
block script

    script(defer src="js/animation.js") 

    script(src="js/navBar.min.js")
    
    script(defer src="js/modal-online.min.js")

    script(src="js/player.min.js")

    script(src="js/glider.min.js")
    
    script(src="js/scroller.min.js")