h1.publication__title Навчальний портал школи "Dream School"

.add-text

    h3.add-text__title <span>Результат пошуку для: </span>" Україна "
     

.publication__buttons

    a.publication__btn(href='news.html') <i class="far fa-newspaper"></i>  до новин

    a.publication__btn(href='blog.html') <i class="fab fa-blogger"></i>  до блогу

section.searchresults

    include ../../includes/_searchresults.pug


.publication__buttons--bottom

    a.publication__btn(href='news.html') <i class="far fa-newspaper"></i>  до новин

    a.publication__btn(href='blog.html') <i class="fab fa-blogger"></i>  до блогу

