include ../mixins/_mixin-blog-sideBar.pug

include ../includes/_search.pug

aside.announcement

    h3.announcement__title Оголошення дня

    p.announcement__txt З 25-го по 29-те жовтня проходитиме англійський табір "Lion King". Запис за телефоном: 093-786-44-10

  
include ../includes/_content-filter.pug

   
aside.popular-posts

    h3.popular-posts__title Популярні публікації

    .popular-posts__flex

        +post-sideBar('1','post_1-1','Олімпійські ігри: перемоги, якими пишається незалежна Україна','Пропонуємо згадати, як наші співвітчизники прославляли країну на Олімпійських іграх за 25 років незалежної України.')
        
        +post-sideBar('2','post_2-1','Як будували піраміди в Єгипті. Цікаві факти','Найвідоміші піраміди знаходяться в Каїрі (є ще в Саккарі, Дахурі, Медумі), вони вважаються єдиними вцілілими серед давніх чудес світу. Тут була стародавня єгипетська столиця Мемфіс, і могутні царі Єгипту — фараони збудували величезні піраміди, які протягом двох тисячоліть були найвищими спорудами світу. Єгипетська цивілізація не знала заліза, з двигунів була тільки тяглова сила людей і тварин. Найбільшою загадкою цивілізації було те, як люди у давні часи змогли збудувати величезні споруди з блоків масою декілька тон.')
        
        +post-sideBar('3','post_3-1','Bодень: від таємничої субстанції — до палива майбутнього','Водень, або гідроген — найлегший, найпростіший і найпоширеніший хімічний елемент у Всесвіті. А це — вже достатня причина, щоб дізнатися про нього більше, чи не так? Обіцяю — буде цікав')
        
        +post-sideBar('4','post_4-1','Збройні сили України. Порівняння з іншими державами','Люди далекі від військової справи вважають, що Україна має маленьку армію. Проте це не так. Армія нашої держави входить в 10-ку найбільших і найпотужніших в Європі. А за деякими показниками навіть переважає армію тієї ж Німеччини.')
        
        +post-sideBar('5','post_5-1','Як рахувати десятками','Десяток — одиниця для лічби, яка дорівнює десяти однаковим предметам.')

        +post-sideBar('6','post_6-1','Складові комп"ютера та їх призначення','Комп’ютер складається з багатьох частин і пристроїв.','Можна виділити основні пристрої, тобто такі, без яких комп’ютер працювати не може:')
        
        +post-sideBar('7','post_7-1','10 дивовижних явищ природи','Будучи дітьми, всі ми дивуємось синьому небу, білим хмарам і яскравим зіркам. З віком у багатьох це проходить, і ми перестаємо помічати природу. Перегляньте цей список незвичайних природних явищ, який неодмінно змусить вас в котрий раз здивуватись складній організації нашого світу, і явищ природи зокрема.')
        
        +post-sideBar('8','post_8-1',"Як навчити дитину писати?","Умінням писати володіє кожна доросла людина. Після багатьох років практики ця навичка стає автоматичною, кожний з нас може писати із закритими очима. Однак пригадаємо, якими важкими були перші кроки письма і яким непростим був процес набуття цієї майстерності.")

        +post-sideBar('9','post_9-1',"Роль Переяславської ради в українській історії","Хтось каже, що ця подія не мала аж такого важливого значення, а хтось вважає, що вона була справді доленосною для України. Напевно, Тобі вже доводилося чути дискусії про Переяславську раду. Що ж відбулося 18 січня 1654 року?")

        +post-sideBar('10','post_10-1',"Вода: електропровідність і теплопровідність. Одиниці вимірювання електропровідності води","Хто знає формулу води ще з часів шкільної пори? Звичайно ж, всі. Ймовірно, що з усього курсу хімії у багатьох, хто потім не вивчає її спеціалізовано, тільки і залишається знання того, що означає формула H 2 O. Але зараз ми максимально докладно і глибоко постараємося розібратися, що таке вода? Які її головні властивості і чому саме без неї життя на планеті Земля неможлива.")

        +post-sideBar('11','post_11-1',"Цікаві та невідомі факти про генія української літератури Тараса Шевченка","Тарас Григорович Шевченко — український поет, письменник (драматург, прозаїк), художник (живописець, гравер), громадський та політичний діяч, фольклорист, етнограф. ")

        +post-sideBar('12','post_12-1',"Засоби милозвучності української мови","Українській мові притаманна милозвучність (евфонічність), яка виявляється в плавності, мелодійності, інтонаційній виразності мовлення. Евфонічність є однією з природних властивостей української мови. Вона досягається такою організацією звуків у межах слів, речень і всього тексту, за якої вони легко і розбірливо вимовляються.")

            