extends ../common/_layout.pug

block title 
    title Dream School | post

block links
    
    link(rel="stylesheet", href="../css/post.min.css")
    
block content

        header.header
            include ../includes/_progress-line.pug 
            include _nav-bar.pug

        main.main

            article.publication

                h1.publication__title Навчальний портал школи "Dream School"

                a.publication__btn(href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ 

                include ../mixins/_mixin-post(plagin blogPost).pug

                +post("Цікаві та невідомі факти про генія української літератури Тараса Шевченка","post_11-1","Тарас Григорович Шевченко — український поет, письменник (драматург, прозаїк), художник (живописець, гравер), громадський та політичний діяч, фольклорист, етнограф",
                "Цікаві факти із життя Тараса Шевченка є і в біографії, а цікаві перекази очевидців про деякі випадки та ситуації в житті Шевченка також є пізнавальними, оскільки їх не зустрінеш в біографії, про них в школі не розповідають.",
                "Цікаві факти про Тараса Шевченка","Дата народження — Ср 09 Березня 1814 р.                     ","Знак зодіаку — РИБИ                                ","Дата смерті — Нд 10 Березня 1861 р. На момент смерті було — 47 років","Зріст Тараса Шевченка – 1,64 м                         ",
                "24 роки Тарас був кріпаком, 11 років перебував під слідством, на військовій службі, у засланні, і лише 12 років життя був відносно вільною людиною!",
                "Тарас Шевченко народився в сім’ї кріпосного селянина 9 березня 1814 року (в сім'ї було 5 дітей). Дитинство Шевченка пройшло в його рідному селі Моринці Київської губернії. Тарас дуже рано осиротів і сповна відчув на собі всю гіркоту кріпосного життя. Освіту Шевченко отримав у сільського дяка.",
                "У 1828 році він почав служити у поміщика Енгельгардта. В цей час юнак почав проявляти непогані здібності до малювання, тому пан зробив з нього свого особистого живописця і навіть відправив Тараса на навчання до художника В. Ширяєв",
                "У 1836 році відбулося знайомство Тараса Шевченка з такими видатними людьми того часу, як Брюллов, Григорович, Жуковський. Вони задалися метою звільнити юного художника від кріпацтва.",
                "У 1838 році Брюллов написав портрет Жуковського і продав його за 2500 рублів. За ці гроші і був викуплений Шевченко. Здобувши свободу, Тарас Григорович вступив до Академії мистецтв.",
                "У 1840 році вийшов його перший збірник віршів «Кобзар».    ","У 1846 році Тарас Шевченко став членом таємного політичного товариства, за що в 1847 році був засланий в Орську фортецю. Його амністували після смерті Миколи I.",
                "Дослідники творчості Шевченка стверджують, що він за життя намалював 1300 картин, портретів, малюнків, офортів, ескізів тощо, з яких дійшли до нас близько 800 робіт.",
                "10 березня 1861 року Шевченко помер. Вклад Тараса Шевченка в розвиток української літератури і мови вважається одним з найбільш цінних за всю історію України. Українському поетові Тарасу Шевченко встановлено близько 1200 пам’ятників по всьому світу. Більшість із них знаходиться на західній Україні. Кохання Тараса Шевченка Першим коханням молодого Шевченка була Оксана, його ровесниця.",
                "Родичі та знайомі закоханих були впевнені, що молоді одружаться, щойно досягнуть старшого віку. Але надії були марними — Тарас у валці свого пана Павла Енгельгардта мусив поїхати до Вільна. Розлука була несподівана і довга.",
                "Усе своє життя Шевченко згадував ту дівчину, яку колись кохав. Наступною жінкою, яку він кохав, була польська швачка Дзюня Гусіковська.",
                "У 1843 році Шевченко їде в Україну і там зустрів Ганну Закревську, якій згодом присвятив вірш «Г. З.». Наступними жінками, що займали місце в серці поета, були Варвара Рєпніна, сільська дівчина Глафіра та Агата Рускова, 16-річна актриса Катерина Піунова, яка, напевно, просто не наважилася пов’язати своє життя з модним, але скандально відомим художником, майже на тридцять років старшим від неї.",
                "Останнім коханням поета була 19-річна дівчина Лукерія Полусмак, яка наймитувала в Петербурзі. Простакувату дівчину Тарас зваблював дорогими подарунками, але вона не захотіла залишити столичного життя й переїхати в Україну, щоб жити в селі. Покинула поета й вийшла заміж за перукаря Яковлева. І лише 1904 року, після смерті свого пияка-чоловіка, Лукерія Яковлева-Полусмак, залишивши дітей в Петербурзі, приїхала до Канева і щодня приходила на могилу Шевченка.",
                "Нещодавно знімальна група каналу ТСН провела дослідження і довела, що Тарас Шевченко був насправді зовсім не тим ким ми вважали. Аби не вивчати тони текстового матеріалу - рекомендуємо до перегляду.",
                "https://youtu.be/DvBAn63jkH0","Перекази про Тараса Шевченка ","Тарас Шевченко цікаві факти біографії маловідомі, існують навіть, народні перекази, котрі не претендують та 100% достовірність.",
                "ЗОВНІШНІСТЬ ШЕВЧЕНКА","Ось як описували сучасники зовнішність 29-літнього Шевченка: молодий, здоровий, середнього зросту, широкоплечий, міцно збудований. Його кругле виголене обличчя було прикрашене бакенбардами, волосся вистрижене по-козацькому, але зачесане назад. Він був темний блондин, з його лиця пробивалася відвага, в темно-сірих невеличких очах світилися розум та енергія. Голос у нього був м’який, в ході й рухах — зосередження. При першій зустрічі із ним у ньому не примічалося нічого привабливого, навпаки, він здавався холоднуватим, сухим, хоч і простим, приступним. До людей ставився спершу недовірливо і перед першим-ліпшим не відкривав своєї душі, особливо бував замкнутий супроти тих, хто добивався викликати в нього одвертість та щирість. Зате коли пізнавав чоловіка й відкривав у нім бодай одну гарну рисочку, прив’язувався до нього, а як знаходив у тій людині взаємність, віддавався йому цілим серцем. Примітними рисами характеру були доброта, м’якість, навіть делікатність, що суперечило його суворій масці, незвичайна простота, природність, безкорисливість, навіть саможертовність. На кривду й несправедливість його серце запалювалося гнівом і вибухало, немов вулкан, — тоді він міг бути й несамовитим. З бідними ділився останнім.",
                "ЧЕРВОНА КІМНАТА","Коли молодий Шевченко познайомився з К. Брюлловим, захват його був невимовний, адже Брюллов похвалив його малюнки. Приятель Шевченка І. Сошенко згадує, що в житті не бачив він веселішої і щасливішої людини, ніж Тарас упродовж кількох днів. — Невже Брюллов завжди такий добрий, такий ласкавий?— питав він кількаразово в Сошенка. — Завжди, — відповідав той. — А ця червона кімната його улюблена? — Улюблена. — Все червоне! Кімната червона, диван червоний, завіси край вікна червоні, халат червоний і малюнок червоний! Все червоне! Чи побачу я ще колись його так близько?! І Тарас заплакав. Ця червона кімната лишилася поетові пам’ятна до кінця днів його. Багато чого він забув, але останніми його словами були «червона кімната» і «Карл Петрович».",
                "post_11-2","Пишучи поему «Катерина», Т. Шевченко питав у І. Сошенка: — А послухай, Соха, чи воно так до ладу буде? — Та одчепись ти, кажу, зі своїми віршами! — гримає на нього Сошенко. — Чом ти діла не робиш?","Під «ділом» Шевченків приятель-художник розумів живопис, малярство. Згодом, коли до Шевченка прийшла слава великого поета, Сошенко виправдовувався: — А хто ж його знав, що з нього зробиться такий великий поет? — і доповнював: — А все-таки я стою на своєму: що, якби він покинув вірші, був би ще більшим живописцем, ніж поетом.",
                "НЕЩАСЛИВЕ КОХАННЯ","post_11-3", "1843 року Шевченко покохав Теодосію, доньку кирилівського попа Григорія Кошиця, того самого, в якого хлопцем наймитував. Дівчина відповіла на почуття поета, і вони хотіли одружитися, але не було на те батьківської волі. Старі Кошиці хотіли якимись хитрощами розлучити закоханих. У вересні, коли Шевченко гостював у Кирилівці, жінка Прокопа Демченка повила дитину.",
                "Мати Теодосії умовила Демченків кликати за хрещених Тодосю й Тараса, маючи на думці, що її дочка не знає, що кумі й кумові в ті часи не можна було за звичаєм та законом одружуватися. Одначе дівчина здогадалася, до чого йдеться, взяла дитину Демченків, пішла з нею до іншого попа й охрестила її з іншим кумом. Після того Кошиці вже просто не дали благословення молодим і відмовили Шевченку. Поет змушений був відступитися. Цікаво, що сама Теодосія так і не відцуралася свого кохання. Вона відмовилася виходити заміж, збожеволіла і вмерла 1884 року.",
                "ХОРОШИЙ ПАН","Якось Шевченко, ще в перший побит свій на Україні, навідав поміщика Скоропадського. Поміщик вихвалявся перед поетом, як добре живуть у нього кріпаки. Діло було перед обідом. — Я їм, — каже, — те, я їм і друге. Живуть вони в мене, як у Бога за пазухою. Тут один з лакеїв зробив якусь шкоду. Поміщик стрибнув з-за столу і побіг у лакейську. Прибіг і лясь-лясь лакея по лиці, а дверей і не зачинив за собою. Шевченко скипів, схопився з місця, взявся за стола і так його тріпонув, що все з нього посипалося додолу. Прибіг господар. Поет зиркнув на нього, роздер шапку і кинув половину Скоропадському. — Хороший пан, нічого сказати. Добре людей шануєш! — та з тим і пішов. Відтоді він у Скоропадського не бував.",
                "НОВИЙ ЖУПАН","Шевченко, перебуваючи в 1845-1846 роках у Переяславі, жив, як відомо, у свого приятеля М. Козачковського. Він часто бував задуманий, недбалий до себе, часом нікого не помічав довкола. Нового одягу шити не любив, ходив у старому. Довідавшись, коли Шевченко мав отримати гроші від Київської Археографічної комісії, де служив, Козачковський за тиждень до того покликав кравця і, поки поет спав, дав йому зняти мірку із його старої одежі. Коли Шевченко одержав гроші, кравець приніс нового жупана. Шевченка це дуже здивувало. — Як? Який жупан? — Ви ж, панотчику, замовляли жупан на сьогодні, й мірку знімав із вас. — Що за біс? Нічого не згадаю! І торгувався? — Аякже. Шевченко віддав гроші і заспокоївся.",
                "Раз до Козачковського прийшов кріпак і сильно жалівся, що у нього украдено пару волів. Козачковський поспівчував кріпакові і одіслав його. Цю розмову почув Шевченко, вийшов услід за селянином і, розпитавши його, дав, щоб ніхто не бачив, 50 карбованців. — В позику! — сказав поет. — Оддаси колись, як розбагатієш! — Як же я оддам вам, коли я вас не знаю? — відказав здивований селянин. — Все одно! Пізнаєш! — відповів поет.",
                "ПОСПІШАЮЧИ НА ВЕСІЛЛЯ", "Коли Шевченка заарештували, на ньому був фрак, сам він був чисто виголений, наче зібрався до когось з візитом. Губернатор Фундуклей, який був добре знайомий з Шевченком, здивувався, побачивши, що той при такому параді: — Чого це ви, Тарасе Григоровичу, так прибралися?— спитав він. — Та бачте, — відповів Шевченко, — я поспішав до Костомарова на вінчання. Він запросив мене боярином, так я ото, заки у Бро-варах мені перепрягли коней, поголився і причепурився, щоб з воза просто до молодого. — Еге! — відповів Фундуклей. — Коли так, дак куди судженого, туди й боярина.",
                "СВЯТИЙ ВОГОНЬ","post_11-4","Шевченко, коли сперечався, запалювався, доходячи до пафосу. В запальності його, однак, не було ні злоби, ні пихи — тільки святий вогонь відчуття правди й справедливості. Коли ж бачив, що супротивник набирається пихи, поет дозволяв собі різко його осмикнути. В суперечках він висловлювався гостро, аж співбесідники побоювалися за нього. Особливо несамовитий ставав поет, коли заходила мова про кріпацтво — це була його глибока й болюща рана. Якось у гостях в Я. Полонського згадав поет своє дитинство і те, що родичі його і досі кріпаки. Від таких споминів аж заплакав, аж зубами заскреготав і, нарешті, так ударив кулаком об стіл, що чашки з чаєм попадали на підлогу.",
                "ШЕВЧЕНКО В ОПИСІ ТУРГЕНЄВ","Ось як малює Шевченка в останні роки життя російський письменник І. Тургенєв: широкоплечий, присадкуватий, кремезний, це був козак зі слідами солдатської муштри. Голова в нього була гостроверха, майже зовсім лиса, чоло високе, зморшкувате, очі невеликі, сірі, ніс широкий, губи покриті широкими густими вусами. Погляд був здебільшого суворий, недовірливий, іноді світився ніжною ласкою разом з гарною, доброю усмішкою. Постать — вайлувата. Руки спокійні. Хода поважна. Голос трохи хрипкий. Взимку одягавсь у високу смушкову шапку й кожух.",
                "КОЛИ Ж БУДЕ?","В неділю 19 лютого 1861 року за старим стилем до важкохворого Т. Шевченка зайшов його знайомий інженер Ф. Черненко. Вся Росія сподівалася, що в той день буде оголошено маніфест про скасування кріпацтва. Шевченко очікував цієї події особливо напружено. Як тільки Черненко зайшов до поета, той замість звичайного привітання запитав: — Що? Є? Є воля? Є маніфест? — і, глянувши у вічі Черненкові, зітхнув важко й мовив: — Так нема? Нема? Коли ж буде? — тоді затулив обличчя руками і, впавши на ліжко, заплакав. Черненко почав заспокоювати його: є певна звістка, що цар у той день таки підписав маніфеста, але оголошувати його до посту заборонив, щоб народ зустрів свою волю не по шинках, а по церквах. Тарас гірко всміхнувся і відпустив з цього приводу круте слівце.",
                "Тепер ви знаєте цікаві факти з життя Тараса Шевченка, деякі взяті з біографії, а деякі засновані на переказах очевидців та друзів поет",
                "https://dovidka.biz.ua/tsikavi-fakti-pro-tarasa-shevchenka/")
            
                a.publication__btn( href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ 


                section.post-flex

                    include ../mixins/_mixin-preview.pug

                    +post-preview('post_3-1','Водень: від таємничої субстанції — до палива майбутнього', '3')

                    +post-preview('post_4-1','Збройні сили України. Порівняння з іншими державами','4')

                    +post-preview('post_5-1','Як рахувати десятками','5')

                    +post-preview('post_6-1','Складові комп"ютера та їх призначення', '6')

                    +post-preview('post_7-1','10 дивовижних явищ природи', '7')

                    +post-preview('post_2-1','Як будували піраміди в Єгипті. Цікаві факти','2')

                    +post-preview('post_8-1','Як навчити дитину писати?', '8')

                    +post-preview('post_9-1','Роль Переяславської ради в українській історії', '9')

                    +post-preview('post_10-1','Вода: електропровідність і теплопровідність. Одиниці вимірювання електропровідності води', '10')

                    +post-preview('Цікаві та невідомі факти про генія української літератури Тараса Шевченка', '11')

                    +post-preview('post_12-1','Засоби милозвучності української мови', '12')

                    +post-preview('post_1-1','Олімпійські ігри: перемоги, якими пишається незалежна Україна','1')  

            article.sidebar(data-da=".navbar__mobile, 1200, last")
                include _sidebar.pug
                  
        footer.footer 

 
block script

    

    script( src="../js/yt-lazyload.min.js")

    script( src="../js/navBar.min.js")  

    script( src="../js/scroller.min.js")
    
    script(src="../js/sortTags.min.js")

    script( src="../js/fontawesome.min.js")

    script( src="../js/search.min.js")

    script( src="../js/dynamicAdapt.min.js")

    script(defer src="../js/modal.min.js")
    

    