extends ../common/_layout.pug

block title 
    title Dream School | post

block links
    
    link(rel="stylesheet", href="../css/post.min.css")
    
block content

        header.header
            include ../includes/_progress-line.pug 
            include _nav-bar.pug

        main.main

            article.publication

                h1.publication__title Навчальний портал школи "Dream School"

                a.publication__btn(href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ 

                include ../mixins/_mixin-post(plagin blogPost).pug

                +post('Як навчити дитину писати?','post_8-1',"Умінням писати володіє кожна доросла людина. Після багатьох років практики ця навичка стає автоматичною, кожний з нас може писати із закритими очима. Однак пригадаємо, якими важкими були перші кроки письма і яким непростим був процес набуття цієї майстерності.",
                "Як допомогти дитині оволодіти мистецтвом письма? Які навички розвивати, щоб дитина була готова до навчання писати у школі? Що зробити, щоб це було приємним проведенням часу, а не нудним і тяжким обов'язком?",
                "Побудова мотивації","Діти найохочіше роблять те, що їм подобається і що приносить їм задоволення, тому всі завдання, які ми пропонуємо дитині з метою навчити її писати (або читати), повинні мати форму гри. Введення в розпорядок дня необхідності займатись письмом в якості трудомістких обов'язків призводить до того, що навчання в дитини починає асоціюватися з примусом, а не із задоволенням, що негативно відбивається на її ставленні взагалі до навчання і школи.",
                "Діти також дуже люблять такі види діяльності, якими можуть займатись разом зі своїми батьками, тому дорослі неодмінно повинні виконувати запропоновані завдання разом із малюками",
                "Діти із задоволенням вчаться того, що може бути корисним для чогось «крутого» та «класного». Отже, варто показати їм всі переваги, які вони зможуть отримати для себе, набувши нової навички. В іншому випадку діти не зможуть самостійно зрозуміти, що позитивного дасть їм володіння технікою письма. Тим часом велике задоволення їм приносить можливість самостійно підписати малюнок для улюбленої бабусі, іграшку своїм ім'ям, щоб її було легше відрізнити від тих, що належать іншим малюкам. Письмо також може стати у пригоді для того, щоб написати мамі список з найулюбленішими ласощами, записку із проханням піти в кіно, а також перше в житті повідомлення або електронний лист.",
                "Що ще можна зробити, щоб навчання письма приносило задоволення?","Умілі руки","Щоби щось написати, потрібні вмілі руки. Їх спритність і майстерність повинні набуватись як за рахунок розвитку великої моторики – аби знизити опір кистей до втоми, так і в частині дрібної моторики, підвищуючи при цьому точність рухів. У зв'язку з цим почати формування «основ навчання письма» можна навіть на футбольному полі чи дитячому майданчику. Скелелазіння, їзда на велосипеді, боксування з татом, ламання палиць, гра з м'ячем, засипання піску в кухлик і пересипання його в ємності, побудова та зміцнення замків з піску – усе це прекрасно зміцнює дитячі ручки.",
                'post_8-2',"Дрібні рухи та їх точність (дрібну моторику) чудово тренують різні види образотворчого мистецтва, будівництво з маленьких кубиків і розмальовування картинок, коли дитина всіляко намагається не вийти за лінію малюнка. Щоб розвага була спільною, батьки можуть самі виготовити для дитини розмальовки, малюючи, наприклад, чорним фломастером певні малюнки на замовлення своїх малюків – ви не встигнете озирнутись, як досконало опануєте майстерність малювання принцеси або балерини із собачкою.",
                "Маленькі пальчики добре тренуються за допомогою аплікації: дитина заповнює намальований контур, приклеюючи вирізані шматочки кольорового паперу. Корисною гімнастикою для рук є ліплення – із глини, пластиліну, звичайного й солоного тіста – є з чого вибирати. Усі ці види пластичної маси можна розкачати, нарізати, зробити кульки, смужки, пом'яти їх пальчиками. Чим більше веселощів і забав, тим більше можливостей повправлятися й покращити спритність і підготовленість маленьких ручок. Натхнення можна шукати й на кухні - наприклад, багато точності вимагає процес «малювання» зображення зернами рису (та іншими крупами), насінням, маком тощо, приклеюючи зернятка до полотна або паперу.",
                "Злагоджена робота рук та очей","Щоби щось написати, руки повинні ідеально взаємодіяти з очима, що будуть постійно коригувати рух кисті й, відповідно, форму літери, яка пишеться в даний момент. Як розвивати в дітей так звану зорово-рухову координацію? Знову ж таки, починаємо з веселих розваг на свіжому повітрі і вдома, при цьому роблячи те, що, здавалось би, абсолютно не пов'язано з письмом. У цьому плані надзвичайно ефективними вправами є всілякі забави з м'ячем, адже його кидання і спроби впіймати вимагають спільної роботи рук, які ловлять м'яч, та очей, які відстежують його рух.",
                "Є й інші розваги, що вимагають відстеження руху предмета, наприклад, бадмінтон, ігри з «літаючою тарілкою», ігри з мильними бульбашками. А якщо мова йде про більш точні рухи, то можна, наприклад, побудувати якомога вищу і при цьому стійку башту з дерев'яних кубиків (хто переможе: мама чи дитина?). Можна також включити таке захоплююче заняття, як ведення пальчиком або паличкою кульки через лабіринт.",
                "Знайомство з літерами","Знайомство з літерами й запам'ятовування їхніх форм – це одне з найскладніших завдань. Що треба зробити, щоб воно стало цікавою спільною пригодою? Перш за все, варто пам'ятати те, що літери можна писати не тільки на папері, а й на піску, на поверхні, посипаній борошном (манною крупою), або на папері пальчиком, змоченим у фарбі. Крім того, літери можна виліпити із солоного тіста і зробити з них напис – наприклад, ім'я дитини, щоби повісити його на стіну в її кімнаті. «Смачною» ідеєю є приготування пісочного печива у формі літер або прикраса бутербродів написами кетчупом або варенням.",
                "Також навчанню/іграм з літерами можна присвятити трохи більше часу й організувати дні літер, в яких візьме участь уся родина. У «літерний день» вранці, наприклад, сім'я може разом намалювати смішні плакати з відповідною літерою, а потім приготувати страви з продуктів, назва яких (або назва цілої страви) починається на цю літеру. Можна також і звичним повсякденним стравам дати незвичайні творчі назви, наприклад, пластівці з молоком можна назвати «солодкий сніданок» («с»), «біле буйство» («б»), «молочна мрія» («м») тощо. Можна грати в ігри, назви яких починаються на потрібну літеру, носити одяг кольору, що починається на літеру дня, або відвідувати місця, назви яких починаються на цю літеру.",
                "Наприклад, у день літери «С», припустимо, у середу, сім'я носить сині речі, йде на спектакль (дитячий), їсть улюблені салати, а на десерт ласує тортом «Соната». Для дитини важливо те, що вся сім'я бере участь у цій грі, отже, завдяки цьому малюк буде трактувати вивчення літер не як нудний обов'язок, а як захоплюючу розвагу.",
                "Якщо для вас літерні дні занадто важкі для реалізації, можна читати дітям або створювати з ними вірші чи оповідання, в яких більшість слів буде починатися на однакову літеру, наприклад:",
                "Заіскрилася, закрутилася,                                 ","Захурделилася зима.                                 ","Заморожена, запорошена                                  ","Задрімала, заснула земля.                                  ",
                "Коли дитина вже знає форми літер, чергова сходинка її посвячення у світ письма – це вміння розрізняти літери, дуже схожі одна на іншу. Однак уміння розрізняти дрібні деталі можна практикувати ще задовго до початку навчання письма. Відмінно зарекомендували себе завдання типу «знайди відмінності», а також завдання, в яких з ряду схожих форм, а потім і літер необхідно викреслити однакові, наприклад:",
                "Г П П Г Г Г П Г П Г П Г П Г Г П П Б В В Б Б В Б В В В Б Б Б В Б В Б В Б Б","Розкладаємо і складаємо","Тут потрібно набути вміння розкласти ціле на складові. За допомогою зору ми ділимо слово на літери і з літер складаємо нове. За допомогою слуху ми ділимо слово на звуки. Яким чином можна сприяти розвитку зорового і слухового аналізу та синтезу?",
                "post_8-3","Якщо мова йде про слуховий аналіз, то пропонується, наприклад, пограти у слова (аналог гри в міста) – батьки промовляють слово, а дитина повинна назвати інше слово, що починається на літеру, на яку закінчується слово, вимовлене батьками. Можна також використовувати загадки: з літер відгаданого дитиною слова треба сформувати нове (або схоже за звучанням) і загадати батькам нову загадку. Можна пограти у гру «схожі слова» – батьки називають пару слів, які схожі за звучанням, але відрізняються однією літерою, наприклад, «кіт – кит», «вік – лік», «рік – сік», дитина повинна сказати, є різниця між словами чи ні, і в чому вона полягає.",
                "На розвиток зорового аналізу та синтезу ефективно впливають пазли. Цікаво, коли вони виготовлені батьками власноруч, наприклад, з листівок, що зображують місця, які відвідували діти під час канікул. Велику радість і задоволення малюкам приносять пазли, виконані на їхнє замовлення, а також пазли з фотографій із зображенням родини. Уміння розділити картинку на частини і знову скласти її добре формується за допомогою побудови якоїсь споруди згідно з ілюстрованою інструкцією (всілякі конструктори).",
                "Перші спроби писати","При написанні перших не надто вдалих літер дитина потребує похвали, яка підбадьорює й заохочує. У першу чергу батьки повинні цінувати зусилля дитини, а не результати її роботи. Важливо зберігати перші письмові тексти малюка, щоб час від часу порівнювати їх з уже сьогоднішніми «зразками почерку». Такі порівняння дуже добре наочно показують дитині, що її зусилля дають відчутні результати.")
            
                a.publication__btn( href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ 
                    

                section.post-flex

                    include ../mixins/_mixin-preview.pug

                    +post-preview('post_3-1','Водень: від таємничої субстанції — до палива майбутнього', '3')

                    +post-preview('post_4-1','Збройні сили України. Порівняння з іншими державами','4')

                    +post-preview('post_5-1','Як рахувати десятками','5')

                    +post-preview('post_6-1','Складові комп"ютера та їх призначення', '6')

                    +post-preview('post_7-1','10 дивовижних явищ природи', '7')

                    +post-preview('post_2-1','Як будували піраміди в Єгипті. Цікаві факти','2')

                    +post-preview('post_8-1','Як навчити дитину писати?', '8')

                    +post-preview('post_9-1','Роль Переяславської ради в українській історії', '9')

                    +post-preview('post_10-1','Вода: електропровідність і теплопровідність. Одиниці вимірювання електропровідності води', '10')

                    +post-preview('Цікаві та невідомі факти про генія української літератури Тараса Шевченка', '11')

                    +post-preview('post_12-1','Засоби милозвучності української мови', '12')

                    +post-preview('post_1-1','Олімпійські ігри: перемоги, якими пишається незалежна Україна','1')  

            article.sidebar(data-da=".navbar__mobile, 1200, last")
                include _sidebar.pug
                  
        footer.footer 

 
block script

    

    script( src="../js/yt-lazyload.min.js")

    script( src="../js/navBar.min.js")  

    script( src="../js/scroller.min.js")

    script(src="../js/sortTags.min.js")

    script( src="../js/fontawesome.min.js")

    script( src="../js/search.min.js")

    script( src="../js/dynamicAdapt.min.js")

    script( src="../js/post.min.js")
    
    script(defer src="../js/modal.min.js")