extends ../common/_layout.pug

block title 
    title Dream School | post

block links
    
    link(rel="stylesheet", href="../css/post.min.css")
    
block content

        header.header
            include ../includes/_progress-line.pug 
            include _nav-bar.pug

        main.main

            article.publication

                h1.publication__title Навчальний портал школи "Dream School"

                a.publication__btn(href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ 

                include ../mixins/_mixin-post(plagin blogPost).pug

                +post('10 дивовижних явищ природи','post_7-1','Будучи дітьми, всі ми дивуємось синьому небу, білим хмарам і яскравим зіркам. З віком у багатьох це проходить, і ми перестаємо помічати природу. Перегляньте цей список незвичайних природних явищ, який неодмінно змусить вас в котрий раз здивуватись складній організації нашого світу, і явищ природи зокрема.',
                "Ознайомтеся з фотографіями. Тут ви знайдете все необхідне для розвитку, навчання та відпочинку вашої дитини: цікаві факти про все на світі, практичні поради та майстер-класи,","Світлові стовпи",
                "Природа цих явищ схожа з умовами, які викликають появу гало. Власне, світові стовпи - один з найчастіших видів гало. Світловий, або сонячний, стовп являє собою вертикальну смугу світла, яка тягнеться від Сонця під час заходу або сходу.",
                'post_7-2',"Явище виникає, коли сонячне світло відбивається від поверхонь дрібних крижаних кристалів, які являють собою завислі у повітрі крижані пластинки або стрижні з шестикутним перетином. При падінні в повітрі ці кристали прагнуть зайняти горизонтальну позицію, і вигляд світлового стовпа залежить від їх взаємного розташування.",
                "Такі кристали утворюються у високих перистих хмарах, найчастіше в перисто-шаруватих. При низьких температурах подібні кристали також можуть утворюватись і в більш низьких шарах атмосфери. Тому, світлові стовпи частіше спостерігаються в холодну пору року.",
                "Світлові стовпи нерідко формуються навколо Місяця, міських вогнів і інших яскравих джерел світла. Стовпи, викликані низько розташованими джерелами світла, зазвичай набагато довші, ніж сонячні або місячні стовпи.",
                "Пірокумулятивні хмари", "Також утворюються над місцями з підвищеною температурою - над лісовими пожежами, наприклад. Вогонь створює конвективні висхідні потоки, які в міру підйому при досягненні рівня конденсації призводять до утворення хмар - спочатку купчастих, а за сприятливих умов - і купчасто-дощових. В цьому випадку можливі грози - удари блискавки з такої хмари можуть навіть викликати нові загоряння.",
                'post_7-3',"Та нерідко дощі, які випадають із пірокумулятивної хмари, обмежують пожежу під хмарою або навіть можуть загасити її. Пірокумулюси можна побачити скрізь, де відбуваються великі тривалі пожежі: наприклад, в тому ж Йєллоустонському національному парку.","Вогняний смерч",
                "Вогняний смерч утворюється, коли розрізнені осередки пожеж об'єднуються в одне величезне багаття. Повітря над ним нагрівається, його щільність зменшується і багаття піднімається вгору. Знизу на його місце надходять холодні маси повітря з периферії, яке також нагрівається. Виникає ефект димової труби. Напір гарячого повітря досягає ураганних швидкостей, а температура піднімається до 1200˚С. Все горить або плавиться, при чому все, що знаходиться поруч, «всмоктується» через вітер у вогонь. І так до тих пір, поки не згорить все, що може горіти.",
                'post_7-4',"Прикладом вогняних смерчів являються катастрофічні лісові пожежі в Йєллоустонському національному парку (США), які відбувались у 1988 році. Це був найбільш сухий рік за весь час спостережень і літо в тому році також було неймовірно сухим. В день найбільшого поширення пожеж, 20 серпня, згоріло 610 км2 лісу. За весь час пожежі торкнулися 3213 км2 лісу, що становить приблизно 36% площі парку. Пожежі припинилися восени, коли пішли дощі. Їх сліди по сьогодні добре помітні в парку.",
                "Крижані голки","Схожі на світлові стовпи оптичні явища виникають при крижаних голках. На відміну від світових стовпів (оптичного ефекту, який виникає у верхній тропосфері), крижані голки відносяться до атмосферних явищ і відзначаються метеорологічними станціями.",
                'post_7-5',"Це тверді опади у вигляді дрібних крижаних кристалів, які утворюються в морозну погоду. Вдень крижані голки виблискують в світлі променів Сонця, вночі - в променях Місяця або при світлі ліхтарів.","Рослинні дощі",
                "Складаються із зерен вівса, жита, листя, квітів та інших рослинних домішок. Як приклад можна навести дощ із листя дуба, який випав в муніципалітеті Отреш у Франції, 9 квітня 1869 року, при тихій погоді і абсолютно безхмарному небі. Листя з'явилось високо в небі у вигляді світлих точок і майже прямолінійно падало на землю. Причина явища - дуже сильний вихор, який пройшов над цією місцевістю 3 квітня, та зірвав і підняв вгору велику кількість дубового листя. Іншим прикладом може служити дощ з апельсинів, який випав 8 липня 1833 року поблизу Неаполя.",
                'post_7-6',"Власне, причина рослинних дощів (а також тваринних - рибних та жаб’ячих, хоча бувають дощі і з інших тварин) схожа на причину всіх кольорових опадів. Практично всі «особливі» дощі являють собою падіння звичайного дощу і сторонніх предметів, піднятих в атмосферу сильним вітром або смерчем.",
                "Зелений промінь","Зелений промінь - рідкісне оптичне явище, спалах зеленого світла в момент зникнення сонячного диска за горизонтом або появи його з-за обрію. Для спостереження зеленого променя необхідні три умови: відкритий горизонт (в степу або на морі за відсутності хвиль), чисте повітря і вільна від хмар сторона горизонту, де відбувається захід або схід Сонця.",
                'post_7-7',"Фізика цього явища полягає в тому, що заломлення сонячних променів в атмосфері супроводжується їх дисперсією, тобто розкладанням в спектр. В результаті накладання кольорових променів від окремих точок сонячного диска центральна частина його залишиться білою (а точніше, за рахунок розсіювання весь диск стає червоним) і лише верхній та нижній краї диска стають відповідно синьо-зеленим та помаранчево-червоним. Але оскільки ці смужки дуже тонкі, а наше світило яскраве, побачити їх вдається лише тоді, коли яскрава частина знаходиться за горизонтом.",
                "Власне, коли Сонце занурюється за горизонт, останнім променем ми мали б побачити фіолетовий. Однак короткохвильові промені - фіолетові, сині, блакитні - на довгому шляху в атмосфері настільки сильно розсіюються, що не доходять до земної поверхні. Крім того, до променів цієї частоти спектра око людини менш чутливе. Саме тому останній промінь сідаючого Сонця має яскравий смарагдовий колір.",
                "Куляста блискавка","Ймовірно, найзагадковіше природне явище зі всіх перелічених. Перш за все тому, що куляста блискавка - виключно рідкісне природне явище, єдиної фізичної теорії виникнення і перебігу якого досі не представлено. Існує близько 200 теорій, які пояснюють явище кулястої блискавки, але жодна з них не отримала абсолютного визнання в науковому товаристві. До того ж, вивчення явища значно ускладнюють сумніви в достовірності свідчень непідготовлених до проведення спостережень випадкових очевидців.",
                'post_7-8',"Широко поширена думка, що куляста блискавка - природне явище електричного походження, тобто являється особливого виду блискавкою, яка існує тривалий час і має форму кулі. При чому куля ця здатна переміщатись по непередбачуваній, іноді дивній для очевидців траєкторії.",
                "Куляста блискавка переважно з'являється в грозову погоду. Часто, але не обов'язково, поряд зі звичайними блискавками. Проте існує багато свідчень її появи в сонячну погоду. Найчастіше вона як би «виходить» з провідника або породжується звичайними блискавками, інколи спускається з хмар, в рідких випадках - несподівано з'являється в повітрі або, як повідомляють очевидці, може вийти з будь-якого предмета (дерево, стовп).",
                "Вогні святого Ельма","Першими свідками цього явища були моряки, які спостерігали вогні святого Ельма на щоглах та інших загострених предметах. Вогні святого Ельма являють собою розряд у формі пучків або китиць (або коронний розряд), який виникає на гострих кінцях високих предметів (вежі, щогли, поодинокі дерева, гострі вершини скель тощо) при великій напруженості електричного поля в атмосфері. Це досить поширене явище, яке спостерігається під час грози, а також перед і відразу після неї.",
                'post_7-9',"Свою назву явище отримало від імені святого Ельма (Еразма) - покровителя моряків у католицькій релігії. Вважалось, що поява вогнів святого Ельма обіцяла морякам надію на успіх, а під час небезпеки - і на порятунок.",
                "Ілюзія Місяця","Ілюзія Місяця («місячна ілюзія») - оптична ілюзія, при якій розмір Місяця, коли той знаходиться низько над горизонтом, здається в кілька разів більшим у порівнянні з тим, як він сприймається при знаходженні високо в небі (в зеніті), хоча проекції Місяця на сітківку ока в обох випадках рівні між собою. Ілюзія виникає також при спостереженнях Сонця, планет та сузір'їв.",
                'post_6-10',"Широко поширена помилкова думка, яка полягає в тому, що більший розмір Місяця над горизонтом пояснюється ефектом збільшення, який створюється атмосферою Землі. Однак, на розмір Місяця атмосфера ніяк не впливає, а лише змінює його колір. Насправді ж «місячна ілюзія» це лише особливість людського сприйняття.",
                "Найпростіший спосіб продемонструвати ілюзорність ефекту - це потримати невеликий об'єкт (наприклад, монетку) на витягнутій руці, прикривши при цьому одне око. Порівнюючи розмір об'єкта з великим Місяцем у горизонту і з маленьким Місяцем в небі, можна побачити, що відносний розмір не змінюється. Можна також зробити з аркуша паперу трубу і дивитися через неї тільки на Місяць, без оточуючих об'єктів - ілюзія зникне.",
                "Двоопуклі хмари","Надзвичайно рідкісне явище, яке з'являється переважно перед ураганом. Англійська назва цього явища - Mammatus clouds, дослівно перекладається як «Молочні хмари», оскільки за своєю формою вони нагадують молочні залози (наприклад, вим'я корови).",
                'post_7-11',"Основа двоопуклих хмар має специфічну комірчасту або сумчасту форму. Осередки зазвичай мають розмір близько півкілометра, найчастіше різко окреслені, але бувають і з розмитими краями. Колір зазвичай сіро-блакитний, як і у основної хмари, але через потрапляння прямих променів Сонця або підсвічування від інших хмар, можуть здаватись золотистими або червонуватими.",
                'https://www.eco-live.com.ua/content/blogs/15-divovizhnikh-yavishch-prirodi')
            
                a.publication__btn( href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ 
                    

                section.post-flex

                    include ../mixins/_mixin-preview.pug

                    +post-preview('post_3-1','Водень: від таємничої субстанції — до палива майбутнього', '3')

                    +post-preview('post_4-1','Збройні сили України. Порівняння з іншими державами','4')

                    +post-preview('post_5-1','Як рахувати десятками','5')

                    +post-preview('post_6-1','Складові комп"ютера та їх призначення', '6')

                    +post-preview('post_7-1','10 дивовижних явищ природи', '7')

                    +post-preview('post_2-1','Як будували піраміди в Єгипті. Цікаві факти','2')

                    +post-preview('post_8-1','Як навчити дитину писати?', '8')

                    +post-preview('post_9-1','Роль Переяславської ради в українській історії', '9')

                    +post-preview('post_10-1','Вода: електропровідність і теплопровідність. Одиниці вимірювання електропровідності води', '10')

                    +post-preview('Цікаві та невідомі факти про генія української літератури Тараса Шевченка', '11')

                    +post-preview('post_12-1','Засоби милозвучності української мови', '12')

                    +post-preview('post_1-1','Олімпійські ігри: перемоги, якими пишається незалежна Україна','1')  

            article.sidebar(data-da=".navbar__mobile, 1200, last")
                include _sidebar.pug
                  
        footer.footer 

 
block script

    

    script( src="../js/yt-lazyload.min.js")

    script( src="../js/navBar.min.js")  

    script( src="../js/scroller.min.js")
    
    script(src="../js/sortTags.min.js")

    script( src="../js/fontawesome.min.js")

    script( src="../js/search.min.js")

    script( src="../js/dynamicAdapt.min.js")

    script( src="../js/post.min.js")
    
       script(defer src="../js/modal.min.js")
    