extends ../common/_layout.pug

block title 
    title Dream School | post

block links
    
    link(rel="stylesheet", href="../css/post.min.css")
    
block content

        header.header
            include ../includes/_progress-line.pug 
            include _nav-bar.pug

        main.main

            article.publication

                h1.publication__title Навчальний портал школи "Dream School"
               
                a.publication__btn(href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ 

                include ../mixins/_mixin-post(plagin blogPost).pug

                +post('Роль Переяславської ради в українській історії','post_9-1',"Хтось каже, що ця подія не мала аж такого важливого значення, а хтось вважає, що вона була справді доленосною для України. Напевно, Тобі вже доводилося чути дискусії про Переяславську раду. Що ж відбулося 18 січня 1654 року?",
                "У цей день гетьман Богдан Хмельницький скликав загальну військову раду у Переяславі. На ній мали вирішити питання про відносини між Військом Запорізьким та Московським царством. Для чого ж були потрібні ці переговори? Річ у тім, що Гетьманщина — українська козацька держава — потребувала захисту",
                "У результаті антипольського повстання під проводом Богдана Хмельницького вона начебто й стала незалежною, проте не була настільки міцною, аби домогтися міжнародного визнання і закріпити свої позиції. Отже, потрібен був протекторат когось сильнішого. Цілих три великі держави претендували на те, аби Гетьманщина так чи інакше від них залежала: Річ Посполита (проти гніту якої й боролися козаки), Османська імперія та Московське царство. До кого ж звернутися за допомогою? Зрештою Хмельницький обрав Москву.",
                'post_9-2',"Переяславська рада. Художник — Михайло Хмелько.                              ","Зробити козацьку державу захищеною і при цьому зберегти її автономію — такою була мета. Та що з цього вийшло?",
                "Отже, 18 січня 1654 року Військо Запорізьке склало присягу московському цареві. Так звучить офіційна версія. Тим цікавіше дізнатися, що ж ховається під нею. Козаки вимагали, аби їхня угода з Москвою була закріплена присягою з обох сторін. Проте царський посол Василій Бутурлін відмовився присягнути козакам від імені царя.",
                "Хто ж уклав угоду, яка, на думку багатьох істориків, особливо сильно вплинула на шлях розвитку української державності? У той день московському царю присягнуло менш ніж 300 людей. То чи можна говорити про те, що український народ одностайно підтримав цю домовленість?",
                "Більшість вояків не була присутня на раді, а деякі визначні полковники просто відмовилися складати присягу. А що ж казати про усіх інших? Після ради до присяги мало бути приведене й населення Гетьманщини: представники від Москви відвідали з цією метою близько 120 населених пунктів. Проте жінки і селянство залишилися «за кадром», а в козаків та міщан присягу переважно брали силою. Отже, виразити свою незгоду шансів практично не було. Хоча не погоджуватися було з чим: про це говорить хоча б той факт, що переяславські домовленості були усними і дуже неконкретними.",
                "post_9-3","То чи могла громадськість радіти такій угоді? Тим більше, що вона стала нібито першим кроком на довгому шляху зближення України та Росії, де остання почувалася значно сильнішою. І зараз Росія вважає Переяславську раду подією, що означала возз'єднання росіян та українців — звісно ж, під проводом Москви. І ще одне: чи помічав Ти коли-небудь, як Росія возвеличує чи віддає шану комусь із козацьких ватажків? Напевно, що ні. Проте Хмельницький і для Москви — справжній герой: адже завдяки йому українці присягнули російському царю.",
                "Тож не дивно, що Тарас Шевченко у своїй поезії сприймав Богдана Хмельницького як зрадника: він визволив український народ від впливу Речі Посполитої, та одразу ж зробив його залежним від Московії.",
                "Та чи був Хмельницький справді зрадником — хтозна. Багато істориків сходиться на тому, що він просто зробив неправильний вибір. Гетьман хотів бачити українську козацьку державу вільною і міцною, проте обрав союзника, який мав на Гетьманщину зовсім інші плани.",
                'https://pustunchik.ua/ua/online-school/history/pereyaslavskaya-rada')
            
                a.publication__btn( href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ 
                    

                section.post-flex

                    include ../mixins/_mixin-preview.pug

                    +post-preview('post_3-1','Водень: від таємничої субстанції — до палива майбутнього', '3')

                    +post-preview('post_4-1','Збройні сили України. Порівняння з іншими державами','4')

                    +post-preview('post_5-1','Як рахувати десятками','5')

                    +post-preview('post_6-1','Складові комп"ютера та їх призначення', '6')

                    +post-preview('post_7-1','10 дивовижних явищ природи', '7')

                    +post-preview('post_2-1','Як будували піраміди в Єгипті. Цікаві факти','2')

                    +post-preview('post_8-1','Як навчити дитину писати?', '8')

                    +post-preview('post_9-1','Роль Переяславської ради в українській історії', '9')

                    +post-preview('post_10-1','Вода: електропровідність і теплопровідність. Одиниці вимірювання електропровідності води', '10')

                    +post-preview('Цікаві та невідомі факти про генія української літератури Тараса Шевченка', '11')

                    +post-preview('post_12-1','Засоби милозвучності української мови', '12')

                    +post-preview('post_1-1','Олімпійські ігри: перемоги, якими пишається незалежна Україна','1')  

            article.sidebar(data-da=".navbar__mobile, 1200, last")
                include _sidebar.pug
                  
        footer.footer 

 
block script

    

    script( src="../js/yt-lazyload.min.js")

    script( src="../js/navBar.min.js")  

    script( src="../js/scroller.min.js")

    script(src="../js/sortTags.min.js")
    
    script( src="../js/fontawesome.min.js")

    script( src="../js/search.min.js")

    script( src="../js/dynamicAdapt.min.js")

    script( src="../js/post.min.js")

    script(defer src="../js/modal.min.js")


    