extends ../common/_layout.pug

block title 
    title Dream School | post

block links
   
    link(rel="stylesheet", href="../css/post.min.css")

block content

        header.header 
            include ../includes/_progress-line.pug
            include _nav-bar.pug

        main.main
    
            article.publication

                h1.publication__title Навчальний портал школи "Dream School"
              
                a.publication__btn(href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ

                include ../mixins/_mixin-post(plagin blogPost).pug

                +post('Як будували піраміди в Єгипті. Цікаві факти', 'post_2-1', 'Найвідоміші піраміди знаходяться в Каїрі (є ще в Саккарі, Дахурі, Медумі), вони вважаються єдиними вцілілими серед давніх чудес світу. Тут була стародавня єгипетська столиця Мемфіс, і могутні царі Єгипту — фараони збудували величезні піраміди, які протягом двох тисячоліть були найвищими спорудами світу. Єгипетська цивілізація не знала заліза, з двигунів була тільки тяглова сила людей і тварин. Найбільшою загадкою цивілізації було те, як люди у давні часи змогли збудувати величезні споруди з блоків масою декілька тон.',
                'Ці споруди були не просто великі — вони точно орієнтовані по сторонам світу, всередині прокладені ходи з пастками для грабіжників і з великими камерами. Імовірно, у стародавні часи вони були наповнені скарбами, але були пограбовані ще в стародавні часи.',
                'Історія','Єгипетські піраміди — цікаві факти про історію будівнитцва. В Єгипті збереглося більше ста пірамід. Вони є різних різновидностей — ступінчаті, а також ступінчаті, перероблені під рівні піраміди, з ламаною поверхнею (кут нахилу змінювався  у процесі будівництва). Археологи практично кожен рік знаходять нові піраміди — як невеликі, засипані піском, так і недобудовані і взагалі, які збереглися на рівні фундаменту.',
                'post_2-2','Найдавніша піраміда належала фараону Джосеру і була споруджена біля  2650 року до нашої ери. До Джосера споруджували мастаби — прямокутники на один поверх. Джосер почав надбудовувати поверх за поверхом і получилася піраміда. Це була перша монументальна споруда в Єгипті з каменю — до цього будували переважно із сирцевої цегли. Цегла, навіть необпалена, зберігалася під відкритим небом добре, оскільки в цій країні практично ніколи не було дощів, особливо в областях, віддалених від Середземного моря.',
                'post_2-3','Фараоном Снофру була збудована ступінчата піраміда в Медумі, її особливість — споруджена як ступінчата, але єгипетський цар наказав зробити стіни гладкими, заповнивши сходинки кам’яною кладко. Через деякий час камені, які заповнювали сходинки, впали, і в наш час ця споруда має ступінчастий вигляд. Після Снофру спорудження ступінчастих пірамід припинилося, вони були з гладкими стінами, облицьованими плитами.',
                'post_2-4', 'У середньовічній Європі піраміди вважали коморами Йосипа, який назав складати у них зерно від врожайних років, щоб забезпечити сім голодних років, які у вигляді худої скотини приснилися фараону. Європейці не знали, що внутрішній простір споруд порожній приблино на один відсоток, тут не можна було нічого складати у великих кількостях.',
                'post_2-5','В Дашхурі є «рожева» піраміда фараона Снофру (стіни у променях Сонця набувають рожевого кольору), її грані до половини висоти — під одним кутом, а потім кут нахилу стін зменшується, тому піраміду називають «ломаною».', 'Зміна нахилу граней могла бути зроблена з двох причин: або гробницю хотіли швидше добудувати, або нагрузка на підмурок стала надто великою і її хотіли зменшити шляхом зменшення кута будівництва стін. Також в Дахшурі є піраміда Аменемхета І, споруджена з сирцевої цегли, її називають «темною», очевидно через колір, який контрастував зі світлим вапняком і піщаником інших пірамід.',
                'post_2-6','Піраміди оточувалися храмами, а також меншими пірамідами, які належали родичам фараона. Біля піраміди Хафра в Гізі знаходиться статуя сфінкса — лева з людською головою. Довжина сфінкса — 72 метра, висота — 20 метрів, що майже дорівнює висоті дев’ятиповерхового будинку.',
                'https://youtu.be/dLr0W3wizbw','Будівництво','Цікаві факти — єгипетські піраміди та особливості їх будівництва. У прихильників різних теорій заговору і надто задумливо-вразливих людей є версії, що піраміди мають зв’язок з позапланетними цивілізаціями, оскільки ніби-то люди не могли зі стародавніми технологіями збудувати такі великі споруди. Але все дуже просто — піраміди просто є рукотворними гробницями правителів. Такими великими їх робили з наступних причин:',
                '* будували не раби, а вільні громадяни, таким чином вирішувалась проблема працевлаштування єгипетського чоловічого населення в період, коли Ніл розливався, і люди не могли займатися сільським господарством;',
                '* вирішувалась проблема стабільності суспільства, оскільки працюючі люди не мали можливості влаштовувати бунти;',
                '* соціальна функція — робітників добре годували і давали пиво, бідні таким чином могли прогодувати себе і свої сім’ї;',
                '* інвестиції — багата держава не мала можливості інвестувати у щось важливе, крім грандіозних споруд;',
                '* престиж — володарі сусідніх держав не могли спорудити нічого подібного, вони добре думали, перш ніж напасти на могутню державу, яка могла спорудити справжні гори, та ще повністю облицьовані плірованими плитами (зараз частина облицювання збереглася тільки біля вершини піраміди Хафра);',
                '* збереження тіла фараона та скарбів, які були покладені біля нього — це вже функція єгипетської язичницької релігії, вона не настільки важлива, бо фараонів ховали і в глибоких гірских шахтах, не роблячи грандіозних споруд.',
                'post_2-7','Особливості','Цікаві факти про піраміди — особливості. Всі піраміди у минулому виглядали інакше, ніж сьогодні. Вони були облицьовані вапняковими плитами, які сяяли на сонці. На вершині був гранітний пірамідон, який у давнину, можливо, був позолочений. Вигляд гробниць змінили місцеві жителі, які розтягнули на будівельний матеріал облицювання з рівних плит, також розтягуються і кам’яні блоки. Декілька пірамідонів були знайдені, вони зараз експонуються у Каїрському музеї.',
                'post_2-8','Блоки пірамід дуже точно підігнані один до одного, між ними навіть після чотирьох тисяч років не вствиш кінчика ножа.',
                'Споруди строго орієнтовані по сторонах світу. Під пірамідою зробили рівний фундамент. Сторони піраміди відрізняються по довжині лишень на 5 сантиметрів. Все це говорить про розвиток науки і будівельної техніки у стародавньому Єгипті.',
                'Піраміда Хеопса має висоту 146 метрів, маса 2,3 мільйона кам’яних блоків складає понад 6 мільйонів тон.',
                'На території Судану були нубійські царства. Місцеві царі, наслідуючи фараонів, почали споруджувати собі піраміди, причому вісім століть після останньої збудованої єгипетської гробниці пірамідальної форми.',
                'post_2-9','Вони вирізняються більшим нахилом граней, меншою висотою (до 30 метрів) і видимим входом в гробницю, над яким був язичницький храм. У ХІХ столітті італійський дослідник Фелліні взірвав вершини 40 пірамід, щоб знайти скарбниці. Йому вдалося виявити тільки один тайник із золотом, ці ювелірні вироби він привіз до Європи, однак їх не захотіли у нього купувати, вважаючи підробкою.',
                'https://historyurok.com.ua/tsikavi-fakty/z-istorii/pro-yegipetski-piramidi.html')

                
                a.publication__btn( href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ   

                section.post-flex

                    include ../mixins/_mixin-preview.pug

                    +post-preview('post_3-1','Водень: від таємничої субстанції — до палива майбутнього', '3')

                    +post-preview('post_4-1','Збройні сили України. Порівняння з іншими державами','4')

                    +post-preview('post_5-1','Як рахувати десятками','5')

                    +post-preview('post_6-1','Складові комп"ютера та їх призначення', '6')

                    +post-preview('post_7-1','10 дивовижних явищ природи', '7')

                    +post-preview('post_2-1','Як будували піраміди в Єгипті. Цікаві факти','2')

                    +post-preview('post_8-1','Як навчити дитину писати?', '8')

                    +post-preview('post_9-1','Роль Переяславської ради в українській історії', '9')

                    +post-preview('post_10-1','Вода: електропровідність і теплопровідність. Одиниці вимірювання електропровідності води', '10')

                    +post-preview('Цікаві та невідомі факти про генія української літератури Тараса Шевченка', '11')

                    +post-preview('post_12-1','Засоби милозвучності української мови', '12')

                    +post-preview('post_1-1','Олімпійські ігри: перемоги, якими пишається незалежна Україна','1')  

            article.sidebar(data-da=".navbar__mobile, 1200, last")

                include _sidebar.pug
          

        footer.footer 

 
block script

    

    script( src="../js/yt-lazyload.min.js")

    script( src="../js/navBar.min.js")  

    script( src="../js/scroller.min.js")
    
    script( src="../js/fontawesome.min.js")

    script(src="../js/sortTags.min.js")

    script( src="../js/search.min.js")

    script( src="../js/dynamicAdapt.min.js")

    script( src="../js/post.min.js")

    script(defer src="../js/modal.min.js")

    