extends ../common/_layout.pug

block title 
    title Dream School | post

block links
    
    link(rel="stylesheet", href="../css/post.min.css")
    
block content

        header.header
            include ../includes/_progress-line.pug 
            include _nav-bar.pug

        main.main

            article.publication

                h1.publication__title Навчальний портал школи "Dream School"

                a.publication__btn(href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ 

                include ../mixins/_mixin-post(plagin blogPost).pug

                +post('Складові комп"ютера та їх призначення','post_6-1','Комп’ютер складається з багатьох частин і пристроїв.','Можна виділити основні пристрої, тобто такі, без яких комп’ютер працювати не може:',
                '1) системний блок;','2) монітор;','3) миша;','4) клавіатура','Системний блок',
                'Системний блок можна назвати найголовнішим пристроєм комп’ютера. Від його характеристик залежить швидкодія комп’ютера,  його надійність та інші властивості. Зазвичай системний блок є найдорожчою частиною комп’ютера. Системний  блок  зовні  схожий  до  металевий  ящик. У ньому містяться процесор, пам’ять, вінчестер  (жорсткий  магнітний  диск),  DWD-привід (пристрій для роботи з лазерними дисками).',
                'post_6-2','Отже, в корпусі системного блока розташовані:','■  блок електричного живлення;                                     ','■  материнська плата, на якій знаходяться процесор, оператив­на пам’ять, звукова, відео- та мережна карти;','■  допоміжні  відділення,  в  яких  знаходяться  вінчестер,  пристрій для читання та запису дисків;',
                '■  передня панель,  на якій  знаходяться кнопки  ввімкнення та перезавантаження,  світлові  індикатори  (лампочки),  порти для USB підключень, навушників, мікрофона та ін. Слід зауважити, що порти (гнізда) для під’єднання кабелю живлення та більшості пристроїв знаходяться на задній стінці системного блоку.',
                'Процесор —  це  «мозок»  комп’ютера.  Саме  процесор  керує роботою всіх пристроїв. У ньому відбуваються всі операції, які виконує комп’ютер.',
                'post_6-3',"Пам'ять комп'ютера, або, точніше, оперативна пам'ять — це місце для інформації, з якою працює комп’ютер. У пам’яті зберігаються програми,  вхідні дані,  результати роботи. Після вимкнення комп’ютера інформація з пам’яті зникає. Тому інформацію для зберігання записують на вінчестер, на компакт-диск (лазерний диск).",
                'Вінчестер (інша назва — жорсткий магнітний диск) — місце на комп’ютері, де зберігається вся інформація (музика, фільми, текстові документи тощо).',
                'post_6-4','Монітор - На  екрані  монітора  з’являється  інформація про роботу,  яку виконує комп’ютер. Можна сказати, що монітор —  це пристрій для виведення інформації.',
                'Існують монітори  різних  типів:  на  основі  електропроменевої трубки (схожі за формою на телевізор), LCD, плазмові. Головною характеристикою для більшості користувачів є розмір  екрана по діагоналі. Проте не слід забувати, що кольоропередача, яскравість, частота і навіть зовнішній вигляд є досить важливими факторами.',
                'post_6-5','Клавіатура',"Це клавіатура.  На ній  є клавіші  із  зображеннями цифр,  букв та інших символів.  За допомогою клавіатури в комп’ютер вводять інформацію. Клавіатури розрізняють за різноманітними характеристиками: зручність, кольорове оформлення, наявність додаткових мультиме­дійних можливостей тощо.",
                "post_6-6", 'Миша', 'Миша (точніше маніпулятор типу  «миша») слугує для керування комп’ютером. Миші бувають з різною роздільною здатністю,  різних типів та форм. Багато сучасних мишей, особливо ігрових, обладнані додатковими кнопками.',
                'Пристрої, що розташовані поза  системним  блоком, ще називають периферійними.  Окрім  вже  описаних,  є  багато  пристроїв  та приладів. Часто  їх  об’єднують у групи для  зручності  вивчення  та класифікації. Звичайно, описати навіть частину пристроїв за урок неможливо. Тому розглянемо найголовніші.',
                'post_6-7','Пристрої введення інформації','Пристрій введення — пристрій для внесення даних до комп’ютера під час його роботи. До пристроїв введення належать миша та клавіатура. Саме  клавіатура  є  основним  пристроєм  введення  символів  та команд у комп’ютер.',
                'Мишу здебільшого використовують для введення команд.','Пристрої виведення інформації','Щоб  користувач  міг  побачити  результати  роботи  комп’ютера,  їх потрібно подати у вигляді візуальної та звукової інформації. Для цього призначені пристрої виведення, серед яких найпоширеніші — монітор, звукові колонки та принтер.',
                'Пристрої зберігання інформації','Усі комп’ютери потребують певного місця для запуску програм і збереження файлів.  Існують різні типи пам’яті та пристроїв для зберігання даних, кожен з яких використовують з певною метою.',
                'post_6-8','Жорсткі диски','У кожному комп’ютері є один або кілька дисків  (їх називають вінчестерами). На жорстких дисках може зберігатися велика кількість  інформації,  зокрема фотографії,  відео,  музика,  документи, програми тощо. На жорсткому диску комп’ютера інформація зберігається навіть тоді, коли комп’ютер вимкнено. Існують  також  зовнішні жорсткі  диски.  Найпростіший  спосіб збільшення обсягу вільного місця на ПК — під’єднання зовнішнього жорсткого диска. Він може доповнювати обсяг внутрішнього жорсткого диска комп’ютера, особливо якщо внутрішній диск функціонує повільніше через брак місця. На зовнішньому жорсткому диску можна зберігати резервну копію важливих файлів.',
                'Існують  також  зовнішні жорсткі  диски.  Найпростіший  спосіб збільшення обсягу вільного місця на ПК — під’єднання зовнішнього жорсткого диска. Він може доповнювати обсяг внутрішнього жорсткого диска комп’ютера, особливо якщо внутрішній диск функціонує повільніше через брак місця. На зовнішньому жорсткому диску можна зберігати резервну копію важливих файлів. Більшість таких жорстких дисків під’єднується до USB-порту. Пристрої читання СD і  DWD-дисків.',
                'Майже всі комп’ютери сьогодні обладнано пристроями читання СD і DWD-дисків (приводами), які зазвичай розташовано на передній панелі системного блоку. За допомогою лазерів пристрої зчитують (отримують)  дані  з  диска.  Ці  пристрої можуть  також  записувати інформацію на диски.',
                'Завдяки  наявності  в  комп’ютері  пристрою  читання  оптичних дисків,  можна переглядати  фільми  або  прослуховувати  музичні  DWD-диски.',
                'post_6-9',"Флеш-пам'ять  або  просто флешка —  це маленький  портативний  пристрій  у  вигляді  брелока,  який  підключається  до USВ-порту  комп’ютера.  Подібно  до  жорсткого  диска,    флеш-пам’ять використовується для зберігання  інформації, проте зазвичай її обсяг значно менший порівняно з більшістю жорстких дисків.   Флеш-пам’ять може  мати  різний  розмір,  форму  та  зберігати гігабайти даних. Такі пристрої зручно носити із собою, що дає змогу використовувати їх для перенесення інформації з одного комп’ютера на  інший.  Флеш-пам’ять  також  називають флешкою,  флеш-брелоком, флеш-накопичувачем.",
                "post_6-10",'У цифрових фотокамерах, телефонах інформація зберігається на картах пам’яті (флеш-пам’яті). Інформацію на картах пам’яті можна стирати та використовувати їх знову. Ноутбуки та деякі комп’ютери обладнано вбудованими пристроями читання карт пам’яті.',
                'https://www.sites.google.com/site/komputerta1112/')
            
                a.publication__btn( href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ 

                section.post-flex

                    include ../mixins/_mixin-preview.pug

                    +post-preview('post_3-1','Водень: від таємничої субстанції — до палива майбутнього', '3')

                    +post-preview('post_4-1','Збройні сили України. Порівняння з іншими державами','4')

                    +post-preview('post_5-1','Як рахувати десятками','5')

                    +post-preview('post_6-1','Складові комп"ютера та їх призначення', '6')

                    +post-preview('post_7-1','10 дивовижних явищ природи', '7')

                    +post-preview('post_2-1','Як будували піраміди в Єгипті. Цікаві факти','2')

                    +post-preview('post_8-1','Як навчити дитину писати?', '8')

                    +post-preview('post_9-1','Роль Переяславської ради в українській історії', '9')

                    +post-preview('post_10-1','Вода: електропровідність і теплопровідність. Одиниці вимірювання електропровідності води', '10')

                    +post-preview('Цікаві та невідомі факти про генія української літератури Тараса Шевченка', '11')

                    +post-preview('post_12-1','Засоби милозвучності української мови', '12')

                    +post-preview('post_1-1','Олімпійські ігри: перемоги, якими пишається незалежна Україна','1')  

            article.sidebar(data-da=".navbar__mobile, 1200, last")
                include _sidebar.pug

                
                  
        footer.footer 

 
block script

    

    script( src="../js/yt-lazyload.min.js")

    script( src="../js/navBar.min.js")  

    script( src="../js/scroller.min.js")
    
    script(src="../js/sortTags.min.js")

    script( src="../js/fontawesome.min.js")

    script( src="../js/search.min.js")

    script( src="../js/dynamicAdapt.min.js")

    script( src="../js/post.min.js")

    script(defer src="../js/modal.min.js") 