extends ../common/_layout.pug

block title 
    title Dream School | post

block links
    
    link(rel="stylesheet", href="../css/post.min.css")
    
block content

        header.header 
            include ../includes/_progress-line.pug
            include _nav-bar.pug

        main.main


            article.publication

                h1.publication__title Навчальний портал школи "Dream School"

                a.publication__btn(href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ 

                include ../mixins/_mixin-post(plagin blogPost).pug

                +post('Водень: від таємничої субстанції — до палива майбутнього', 'post_3-1', 'Водень, або гідроген — найлегший, найпростіший і найпоширеніший хімічний елемент у Всесвіті. А це — вже достатня причина, щоб дізнатися про нього більше, чи не так? Обіцяю — буде цікаво!',
                'Таємничий флогістон', 'Зараз водень — усім відомий елемент, та колись він був справжньою таємницею навіть для найрозумніших дослідників. У хімії XVIII століття панувала теорія флогістону: вчені вірили, що у кожній горючій речовині є якась «вогненна субстанція», що вивільняється при спалюванні. Вважалося, наприклад, що дерево — це суміш попелу і флогістону.',
                'post_3-2','Англійський хімік Генрі Кевендіш, який, по суті, відкрив водень у 1766 році, так і не усвідомив свого відкриття повністю. Він думав, що зібраний і досліджений ним газ — чистий флогістон, якийсь нематеріальний носій енергії.',
                'І тільки Антуан Лавуазьє пояснив справжнє значення нового відкриття: водень — не омріяний напівмістичний флогістон, а цілком конкретна хімічна речовина . Свою статтю з доведенням цього французький вчений передав до Паризької академії наук у заклеєному конверті і просив відкрити його лише через кілька місяців. А все тому, що він боявся осуду найавторитетніших хіміків того часу, які все ще свято вірили у теорію флогістону.',
                'post_3-3','Цікаві факти про водень','Латинська назва водню — гідроген — означає « той, що породжує воду ». І справді — ще Генрі Кевендіш виявив, що процес горіння водню супроводжується утворенням води.',
                'За умов кімнатної температури і нормального тиску водень — газ, що не має смаку, кольору і запаху. Тапід сильним тиском і на сильному холоді він переходить у рідкий стан . Нерідко його зберігають саме у такому стані — так він займає менше місця. Рідкий водень використовують, приміром, як ракетне паливо.',
                'До речі, на водень покладають великі надії, сподіваючись створити з його допомогою більш екологічне та економне паливо для транспорту . При спалюванні хімічна енергія водню вивільняється способом, подібним до того, який застосовують у сучасних двигунах внутрішнього згорання. Тож із часом водень цілком може стати альтернативним паливом майбутнього.',
                'https://pustunchik.ua/ua/online-school/chemistry/vodorod-ot-tainstvennoy-substantsii-k-toplivu-budushchego')

            
                a.publication__btn( href="../blog.html") <i class="fas fa-home"></i> ДО ГОЛОВНОЇ БЛОГУ 
                

                section.post-flex

                    include ../mixins/_mixin-preview.pug

                    +post-preview('post_3-1','Водень: від таємничої субстанції — до палива майбутнього', '3')

                    +post-preview('post_4-1','Збройні сили України. Порівняння з іншими державами','4')

                    +post-preview('post_5-1','Як рахувати десятками','5')

                    +post-preview('post_6-1','Складові комп"ютера та їх призначення', '6')

                    +post-preview('post_7-1','10 дивовижних явищ природи', '7')

                    +post-preview('post_2-1','Як будували піраміди в Єгипті. Цікаві факти','2')

                    +post-preview('post_8-1','Як навчити дитину писати?', '8')

                    +post-preview('post_9-1','Роль Переяславської ради в українській історії', '9')

                    +post-preview('post_10-1','Вода: електропровідність і теплопровідність. Одиниці вимірювання електропровідності води', '10')

                    +post-preview('Цікаві та невідомі факти про генія української літератури Тараса Шевченка', '11')

                    +post-preview('post_12-1','Засоби милозвучності української мови', '12')

                    +post-preview('post_1-1','Олімпійські ігри: перемоги, якими пишається незалежна Україна','1')  

            article.sidebar(data-da=".navbar__mobile, 1200, last")
            
                include _sidebar.pug
         

        footer.footer 

 
block script

    

    script( src="../js/yt-lazyload.min.js")

    script( src="../js/navBar.min.js")  

    script( src="../js/scroller.min.js")
    
    script( src="../js/fontawesome.min.js")

    script(src="../js/sortTags.min.js")

    script( src="../js/search.min.js")

    script( src="../js/dynamicAdapt.min.js")

    script( src="../js/post.min.js")

    script(defer src="../js/modal.min.js")
   

    