include ../../mixins/_mixin-preview.pug

h1.publication__title Навчальний портал школи "Dream School"

a.top-post(href="posts/post-2.html")

    .top-post__pic
        picture

            source(
                type="image/webp", 
                srcset = "images/posts/post_2-1.webp")

            img.top-post__img(
                src="images/posts/post_2-1.jpg",
                alt="some_picture")

    h2.top-post__title Як будували піраміди в Єгипті. Цікаві факти

    .top-post__texts

        p.top-post__txt Найвідоміші піраміди знаходяться в Каїрі (є ще в Саккарі, Дахурі, Медумі), вони вважаються єдиними вцілілими серед давніх чудес світу. Тут була стародавня єгипетська столиця Мемфіс, і могутні царі Єгипту — фараони збудували величезні піраміди, які протягом двох тисячоліть були найвищими спорудами світу. Єгипетська цивілізація не знала заліза, з двигунів була тільки тяглова сила людей і тварин. Найбільшою загадкою цивілізації було те, як люди у давні часи змогли збудувати величезні споруди з блоків масою декілька тон. 
    
    p.top-post__go Дізнатися більше...


section.post-flex

    +blog-preview('post_3-1','Водень: від таємничої субстанції — до палива майбутнього', '3')

    +blog-preview('post_4-1','Збройні сили України. Порівняння з іншими державами','4')

    +blog-preview('post_5-1','Як рахувати десятками','5')

    +blog-preview('post_6-1','Складові комп"ютера та їх призначення', '6')

    +blog-preview('post_7-1','10 дивовижних явищ природи', '7')

    +blog-preview('post_2-1','Як будували піраміди в Єгипті. Цікаві факти','2')

    +blog-preview('post_8-1','Як навчити дитину писати?', '8')

    +blog-preview('post_9-1','Роль Переяславської ради в українській історії', '9')

    +blog-preview('post_10-1','Вода: електропровідність і теплопровідність. Одиниці вимірювання електропровідності води', '10')

    +blog-preview('post_11-1','Цікаві та невідомі факти про генія української літератури Тараса Шевченка', '11')

    +blog-preview('post_12-1','Засоби милозвучності української мови', '12')

    +blog-preview('post_1-1','Олімпійські ігри: перемоги, якими пишається незалежна Україна','1')


include ../../includes/_pagination.pug