.content-filter__flex
        
    a.content-filter__item.post__tag(href="tag.html") Історія України

    a.content-filter__item.post__tag(href="tag.html") Хімія

    a.content-filter__item.post__tag.content-filter__item--all(href="tag.html") Показати усі пости

    a.content-filter__item.post__tag(href="tag.html") Пізнавальне

    a.content-filter__item.post__tag(href="tag.html") Цікаві факти

    a.content-filter__item.post__tag(href="tag.html") Україна

    a.content-filter__item.post__tag(href="tag.html") Різне

        
