a.news-list__item(href="news/new-1.html")

    p.news-list__date Опубліковано: 31-01-2021

    .news-list__image 

        img(src="images/posts/post_1-1.jpg", alt="Застосовували важке озброєння")
    
    h2.news-list__title Застосовували важке озброєння: російські окупанти чотири рази порушили режим “тиші” на Донбасі

    .news-list__introductory

        p Протягом поточної доби, 31 січня, в районі проведення операції Об’єднаних сил було зафіксовано чотири порушення режиму припинення вогню.



a.news-list__item(href="news/new-2.html")

    p.news-list__date Опубліковано: 31-01-2021

    .news-list__image 

        img(src="images/posts/post_2-1.jpg", alt="Застосовували важке озброєння")

    h2.news-list__title Застосовували важке озброєння: російські окупанти чотири рази порушили режим “тиші” на Донбасі

    .news-list__introductory

        p Протягом поточної доби, 31 січня, в районі проведення операції Об’єднаних сил було зафіксовано чотири порушення режиму припинення вогню.


a.news-list__item(href="news/new-3.html")

    p.news-list__date Опубліковано: 31-01-2021

    .news-list__image 

        img(src="images/posts/post_3-1.jpg", alt="Застосовували важке озброєння")

    h2.news-list__title Застосовували важке озброєння: російські окупанти чотири рази порушили режим “тиші” на Донбасі

    .news-list__introductory

        p Протягом поточної доби, 31 січня, в районі проведення операції Об’єднаних сил було зафіксовано чотири порушення режиму припинення вогню.