ul.pagination

	li.pagination__item
		a(href='#') <i class="fas fa-long-arrow-alt-left"></i> попередня

	li.pagination__item
		a(href='#') 1

	li.pagination__item.active
		a(href='#') 2

	li.pagination__item
		a(href='#') 3
        
	li.pagination__item
		a(href='#') наступна <i class="fas fa-long-arrow-alt-right"></i>