a.searchresult(href='posts/post-1.html')

    .searchresult__pic

        img.searchresult__img(src='images/posts/post_1-1.jpg' alt='Олімпійські ігри: перемоги, якими пишається незалежна <mark>Україна</mark>')

    .searchresult__content

        h3.searchresult__title Олімпійські ігри: перемоги, якими пишається незалежна <mark>Україна</mark>
            
        .searchresult__txt

            p Пропонуємо згадати, як наші співвітчизники прославляли країну на Олімпійських іграх за 25 років незалежної України.




a.searchresult(href='posts/post-4.html')

    .searchresult__pic

        img.searchresult__img(src='images/posts/post_4-1.jpg' alt='Збройні сили України. Порівняння з іншими державами')

    .searchresult__content

        h3.searchresult__title Збройні сили України. Порівняння з іншими державами
            
        .searchresult__txt

            p Люди далекі від військової справи вважають, що <mark>Україна</mark>

                |  має маленьку армію. Проте це не так. Армія нашої держави входить в 10-ку найбільших і найпотужніших в Європі. А за деякими показниками навіть переважає армію тієї ж Німеччини.




a.searchresult(href='posts/post-1.html')

    .searchresult__pic

        img.searchresult__img(src='images/posts/post_1-1.jpg' alt='Олімпійські ігри: перемоги, якими пишається незалежна <mark>Україна</mark>')

    .searchresult__content

        h3.searchresult__title Олімпійські ігри: перемоги, якими пишається незалежна <mark>Україна</mark>
            
        .searchresult__txt

            p Пропонуємо згадати, як наші співвітчизники прославляли країну на Олімпійських іграх за 25 років незалежної України.




a.searchresult(href='posts/post-4.html')

    .searchresult__pic

        img.searchresult__img(src='images/posts/post_4-1.jpg' alt='Збройні сили України. Порівняння з іншими державами')

    .searchresult__content

        h3.searchresult__title Збройні сили України. Порівняння з іншими державами
            
        .searchresult__txt

            p Люди далекі від військової справи вважають, що <mark> Україна </mark>

                |  має маленьку армію. Проте це не так. Армія нашої держави входить в 10-ку найбільших і найпотужніших в Європі. А за деякими показниками навіть переважає армію тієї ж Німеччини.



a.searchresult(href='posts/post-1.html')

    .searchresult__pic

        img.searchresult__img(src='images/posts/post_1-1.jpg' alt='Олімпійські ігри: перемоги, якими пишається незалежна <mark>Україна</mark>')

    .searchresult__content

        h3.searchresult__title Олімпійські ігри: перемоги, якими пишається незалежна <mark>Україна</mark>
            
        .searchresult__txt

            p Пропонуємо згадати, як наші співвітчизники прославляли країну на Олімпійських іграх за 25 років незалежної України.




a.searchresult(href='posts/post-4.html')

    .searchresult__pic

        img.searchresult__img(src='images/posts/post_4-1.jpg' alt='Збройні сили України. Порівняння з іншими державами')

    .searchresult__content

        h3.searchresult__title Збройні сили України. Порівняння з іншими державами
            
        .searchresult__txt

            p Люди далекі від військової справи вважають, що <mark> Україна </mark>

                |  має маленьку армію. Проте це не так. Армія нашої держави входить в 10-ку найбільших і найпотужніших в Європі. А за деякими показниками навіть переважає армію тієї ж Німеччини.




a.searchresult(href='posts/post-1.html')

    .searchresult__pic

        img.searchresult__img(src='images/posts/post_1-1.jpg' alt='Олімпійські ігри: перемоги, якими пишається незалежна <mark>Україна</mark>')

    .searchresult__content

        h3.searchresult__title Олімпійські ігри: перемоги, якими пишається незалежна <mark>Україна</mark>
            
        .searchresult__txt

            p Пропонуємо згадати, як наші співвітчизники прославляли країну на Олімпійських іграх за 25 років незалежної України.




a.searchresult(href='posts/post-4.html')

    .searchresult__pic

        img.searchresult__img(src='images/posts/post_4-1.jpg' alt='Збройні сили України. Порівняння з іншими державами')

    .searchresult__content

        h3.searchresult__title Збройні сили України. Порівняння з іншими державами
            
        .searchresult__txt

            p Люди далекі від військової справи вважають, що <mark> Україна </mark>

                |  має маленьку армію. Проте це не так. Армія нашої держави входить в 10-ку найбільших і найпотужніших в Європі. А за деякими показниками навіть переважає армію тієї ж Німеччини.











