
form(action="search.html", method="get")
	.content
		.search
		
			input.search__input(type='text' aria-label='search' placeholder='ПОШУК...')

			button.search__submit(aria-label='submit search') 

				i.fas.fa-search