aside.subscribe

    h3.subscribe__title Щоб бути в курсі послідніх новин - підпишіться

    .subscribe__form

        form.subscribe__item

            label.subscribe__label(for="subscribersName")

            input.subscribe__input(id="subscribersName" placeholder="Прізвище та ім'я:" name="name" type="text" required)


        .subscribe__item

            label.subscribe__label(for="subscribersEmail")

            input.subscribe__input(id="subscribersEmail" placeholder="E-mail:" name="email" type="text" required)

        .subscribe__item

            button.subscribe__btn(type="submit") ПІДПИСАТИСЯ

    