$maxWidth: 1920;

$themeColor: #ffffff !default;

$paginationColors: #0b8f8f !default;


$colors: (
  'white': #ffffff,
  'black': #000000,
) !default;


// HEADR CONFIG


$navBarBGColor: #2381bb;
$navBarTextColor: #ffffff;

